<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Business Model Canvas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/canvas.css" rel="stylesheet">
  <meta name="description" content="Business Model Canvas Template">
  <meta name="author" content="Zeljko Dakic">
  <link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
  <style>
    #bizcanvas {
      width: 100%;
      border-collapse: collapse;
    }

    #bizcanvas th, #bizcanvas td {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }

    #bizcanvas th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>The Business Model Canvas</h1>
  <!-- Canvas -->
  <table id="bizcanvas">
    <!-- Upper part -->
    <tr>
      <th style="width: 33.33%;">
        <h4>Por Hacer</h4>
      </th>
      <th style="width: 33.33%;">
        <h4>Haciendo</h4>
      </th>
      <th style="width: 33.33%;">
        <h4>Terminado</h4>
      </th>
    </tr>
    <tr>
      <td>
        <!-- Inserta aquí el contenido para "Por Hacer" -->
      </td>
      <td>
        <!-- Inserta aquí el contenido para "Haciendo" -->
      </td>
      <td>
        <!-- Inserta aquí el contenido para "Terminado" -->
      </td>
    </tr>
  </table>
  <!-- /Canvas -->
</div>

<!-- Javascript loading -->
<script src="js/jquery.min.js"></script>
<script src="js/canvas.js"></script>
</body>
</html>
